<div class="text-center container-fluid">
        <h1> Mixed Drinks </h1>
        <p>Pick your Poison</p>
    </div>

<div class="container">
    <div class="row">
        <h3>List of All Mixed Drinks</h3>
    </div>

    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><strong>Name</strong></th>
                    <th><strong>Country</strong></th>
                    <th><strong>City of Origin</strong></th>
                    <th><strong>Proof</strong></th>
                </tr>
            </thead>
            {{#each mixedDrinks}}
            <tbody>
                <tr>
                    <td>{{this.mixed_name}}</td>
                    <td>{{this.country}}</td>
                    <td>{{this.city_of_origin}}</td>
                    <td>{{this.proof}}</td>
                </tr>
            </tbody>
            {{/each}}
        </table>
    </div>

    <div class="row">
        {{!-- Search --}}
        {{!-- <div class="input-group">
            <input class="form-control width100">
            <span class="input-group-btn">
                <button class="btn btn-info">Search</button>
            </span>
        </div> --}}
        {{!-- <form>
            <div class="form-group">
                <label for="liquor-search">Search for Liquor</label>
                <input type="text" class="form-control" id="liquor-search">
                <button type="GET" class="btn btn-default"><a href="/api/mixed-drinks/:id">Submit</a></button>
            </div>
        </form> --}}
        <br>
        <button class="btn btn-block">
            <a href="/mixed-drinks/all">Make a Mixer</a>
        </button>
    </div>

</div>
<script>
$(document).ready(function() {
    // Needs AJAX logic for get request to search for mixed drinks via ID

}); // End Doc Ready
</script>