<div class="container">
    <div class="row">
        <h3>List of Mixed Drinks</h3>
    </div>

    <div class="row">
        <table>
            <thead>
                <tr>
                    <th><strong>Name</strong></th>
                    <th><strong>Country of Origin</strong></th>
                    <th><strong>City of Origin</strong></th>
                    <th><strong>Proof</strong></th>
                </tr>
            </thead>
            {{#each mixed}}
            <tbody>
                <tr>
                    <td>{{this.mixed_name}}</td>
                    <td>{{this.country}}</td>
                    <td>{{this.city_of_origin}}</td>
                    <td>{{this.proof}}</td>
                </tr>
            </tbody>
            {{/each}}
        </table>
    </div>

    <div class="row">
        {{!-- Search --}}
        <form>
            <div class="form-group">
                <label for="liquor-name">Search for a Mixed Drink</label>
                <input type="text" class="form-control" id="mix-search">
                <button type="GET" class="btn btn-default"><a href="/api/mixed-drinks/:id">Submit</a></button>
            </div>
        </form>

        <button class="btn btn-block mix-add">
            <a href="#">Make a Mixed Drink!</a>
        </button>
    </div>

</div>
<script>
$(document).ready(function() {
    // Needs AJAX logic for get request to search for mixed drinks via ID

}); // End Doc Ready
</script>