<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Mixalot</title>
	<script src="https://code.jquery.com/jquery.js"></script>
    <meta name ="viewport" content="width=device-width, initial-scale=1">	
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
</head>
<body>

	<div class="container-fluid">

	<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">WebSiteName</a>
		</div>
		<ul class="nav navbar-nav">
			<li><a href="/">Home</a></li>
			<li><a href="/liquors/home">Liquor</a></li>
			<li><a href="/mixed-drinks/all">Mixed Drinks</a></li>
		</ul>
	</div>
	</nav>

 	<div class="jumbotron">
		<h1 class="text-center">Mixalot</h1>
		<p>Not just a little</p>
	</div> 
	


	{{{ body }}}

	<footer>
		<span class="text-muted text-center">© Copyright 2017 Team Mixed Up</span>
		<br>
		<a href="https://github.com/perltech/mix-a-lot">Github Repo</a>
	</footer>

	</div>

</body>
</html>
