<div class="jumbotron text-center container-fluid">
		<h1>Mixalot</h1>
		<p>Not just a little</p>
	</div>

<h1>Mix-a-lot</h1>

<h3>Your source for mixing it up!</h3>

<a href="/liquors/home"><button class="liquor">Liquor</button></a>

<button class="mixed">Mixed Drinks</button>
