{{!-- <div class="jumbotron text-center container-fluid">
		<h1>Mixalot</h1>
		<p>Not just a little</p>
</div> --}}

<div class="row text-center">
	<a href="/liquors/home"><button class="btn btn-lg liquor">Liquor</button></a>
	<a href="/mixed/all"><button class="btn btn-lg mixed">Mixed Drinks</button></a>
</div>

