
/*
<link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet"> */
body{
    background-color: #000000;
}

/*save locally as an option */

.jumbotron {
    background-image: url("https://images.pexels.com/photos/248427/pexels-photo-248427.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");
    background-size: 100%;
};

.column-small-4{
    border-style: solid;
    border-width: 3px;
    border-color: red;
}

.jumbotron .h1, .jumbotron h1{
    text-align: left;
    color: white;
}

.jumbotron p{
    text-align: left;
    color: white;
}

h2{
    
    color: #2c50dc;

}

h3 {
    color: purple;
}

h4 {
    color: purple;
}
/* credit --

Photo by Adam Jaime on Unsplash */

https://images.unsplash.com/photo-1470337458703-46ad1756a187?auto=format&fit=crop&w=1049&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D