
    <div class="liquor-table">
        <h1>Liquors</h1>
        <ul>
            {{#each liquors}}
            <li>
                <button>
                    {{this.liquor_id}}. {{this.liquor_name}} {
            </li>
            {{/each}}
        </ul>
    </div>
    </div>
   
