  <div class="row text-center">
    <h1>Liquor Lander</h1>
  </div>


    <div class="row text-center">
      <a href="/liquors/all"><button class="btn btn-lg"><span class="glyphicon glyphicon-search"></span> View Liquor List </button></a>
      <a href="/liquors/survey"><button class="btn btn-lg"><span class="glyphicon glyphicon-list-alt"></span> Take a survey </button></a>
      <a href="/liquors/add"><button class="btn btn-lg"><span class="glyphicon glyphicon-plus"></span> Add a New Liquor </button></a>
    </div>




