

  <!-- <div class="container"> -->

    <div class="jumbotron text-center container-fluid">
      <h1 class="text-center"><span class="glyphicon glyphicon-fire"></span> LIQUOR</h1>
      <hr>
      <h2 class="text-center"> Welcome to the mix-a-lot point, we want to dazzle you with booze!</h2>
      <br>

      <div class="text-center">
        <a href="/liquors/all"><button type="button" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-list-alt"></span> View Liquor List </button></a>
        <a href="/liquors/survey"><button type="button" class="btn btn-lg btn-danger"><span class="glyphicon glyphicon-credit-card"></span> Take a survey </button></a>
      </div>

    </div>

    <footer class="footer">
      <div class="container">
        <p><a href="home page"> Home Page </a> </p>
      </div>
    </footer>

  </div>

